# 실습 Data (서울 열린 데이터광장 : 서울시 소비자물가지수(지출목적별) 통계)

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('data/서울시 소비자물가지수(지출목적별) 통계.txt', delimiter='\t')
df = df.drop(0).reset_index(drop=True)
df

,기간,구분,총지수,식료품 및 비주류음료,식료품 및 비주류음료.1,식료품 및 비주류음료.2,주류ㆍ담배,주류ㆍ담배.1,주류ㆍ담배.2,의복 및 신발,...,교육.1,교육.2,교육.3,음식 및 숙박,음식 및 숙박.1,음식 및 숙박.2,기타 상품 및 서비스,기타 상품 및 서비스.1,기타 상품 및 서비스.2,기타 상품 및 서비스.3
0,2010.01,구분,84.055,74.049,73.561,82.38,62.954,85.741,54.609,80.505,...,110.965,102.321,76.165,78.466,78.505,74.258,85.153,85.602,69.589,99.433
1,2010.02,구분,84.225,74.51,74.018,82.38,62.954,85.741,54.609,80.424,...,110.965,102.321,76.165,79.029,79.229,72.83,85.239,85.516,70.575,99.433
2,2010.03,구분,84.566,75.046,74.628,82.463,62.891,85.398,54.609,80.424,...,118.039,103.353,77.012,79.43,79.55,73.13,84.982,85.516,68.885,99.333
3,2010.04,구분,84.906,76.349,75.924,83.049,62.954,85.654,54.609,80.424,...,119.454,103.353,77.088,79.993,80.114,74.182,84.811,85.429,68.885,99.035
4,2010.05,구분,84.906,75.583,75.086,83.802,62.954,85.654,54.609,80.505,...,119.454,103.353,77.088,80.314,80.435,74.182,85.239,85.429,71.068,99.035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,2021.12,구분,103.32,106.82,106.96,104.85,100.74,101.77,100,101.87,...,96.98,99.75,102.05,104.81,104.93,101.92,102.28,102.02,99.43,103.58
144,2022.01,구분,103.99,108.13,108.36,105.04,100.96,102.31,100,101.94,...,96.98,99.75,102.54,105.83,105.97,102.4,104.29,102.56,98.01,108.67
145,2022.02,구분,104.64,108.87,109.01,107.01,101.44,103.47,100,102.09,...,96.98,99.75,102.92,106.96,107.22,100.58,105.87,105.5,98.79,108.73
146,2022.03,구분,105.09,109,109.12,107.35,102.5,106.01,100,102.17,...,78.4,99.15,103.88,107.69,108.07,98.35,105.94,105.4,99.7,108.76
147,2022.04,구분,105.74,109.7,109.65,110.31,102.95,107.1,100,102.18,...,78.4,99.15,104.18,108.45,108.79,100.1,105.68,104.8,100.33,108.64

In [2]:
# notebook에 보이는 최대 행과 최대 열의 개수를 늘려주는 설정

pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 100)

In [3]:
cpi = df[['기간','총지수']]
cpi.columns = ['date', 'value']
cpi

        date   value
0    2010.01  84.055
1    2010.02  84.225
2    2010.03  84.566
3    2010.04  84.906
4    2010.05  84.906
5    2010.06  84.736
6    2010.07  84.991
7    2010.08  85.417
8    2010.09  86.183
9    2010.10  86.183
10   2010.11  85.758
11   2010.12  86.013
12   2011.01   86.95
13   2011.02  87.461
14   2011.03  87.801
15   2011.04  87.886
16   2011.05  88.057
17   2011.06  88.227
18   2011.07  88.654
19   2011.08   89.25
20   2011.09  89.164
21   2011.10  89.079
22   2011.11  89.079
23   2011.12  89.335
24   2012.01  89.829
25   2012.02  90.203
26   2012.03  90.322
27   2012.04  90.356
28   2012.05   90.45
29   2012.06  90.356
30   2012.07  90.305
31   2012.08  90.842
32   2012.09  91.455
33   2012.10  91.225
34   2012.11  90.867
35   2012.12  91.055
36   2013.01  91.549
37   2013.02  91.804
38   2013.03  91.719
39   2013.04  91.702
40   2013.05  91.702
41   2013.06  91.566
42   2013.07  91.745
43   2013.08  92.076
44   2013.09   92.29
45   2013.10  92.051
46   2013.11  92.042
47   2013.12  92.179
48   2014.01  92.689
49   2014.02  92.877
50   2014.03   93.09
51   2014.04  93.268
52   2014.05  93.414
53   2014.06   93.32
54   2014.07  93.516
55   2014.08  93.746
56   2014.09  93.652
57   2014.10   93.38
58   2014.11  93.268
59   2014.12   93.38
60   2015.01  93.989
61   2015.02  94.055
62   2015.03   93.97
63   2015.04  94.122
64   2015.05  94.301
65   2015.06   94.31
66   2015.07  94.717
67   2015.08  94.953
68   2015.09  94.811
69   2015.10  94.783
70   2015.11  94.641
71   2015.12  94.991
72   2016.01  95.066
73   2016.02  95.444
74   2016.03  95.142
75   2016.04  95.302
76   2016.05   95.34
77   2016.06  95.293
78   2016.07  95.189
79   2016.08  95.557
80   2016.09  96.096
81   2016.10  96.228
82   2016.11  96.105
83   2016.12  96.257
84   2017.01  97.088
85   2017.02  97.305
86   2017.03  97.371
87   2017.04  97.286
88   2017.05  97.419
89   2017.06  97.277
90   2017.07   97.57
91   2017.08  98.146
92   2017.09  98.042
93   2017.10  97.796
94   2017.11  97.173
95   2017.12  97.456
96   2018.01  97.844
97   2018.02  98.552
98   2018.03  98.543
99   2018.04   98.77
100  2018.05  98.779
101  2018.06  98.429
102  2018.07  98.392
103  2018.08  99.232
104  2018.09  99.856
105  2018.10  99.506
106  2018.11  98.977
107  2018.12  98.713
108  2019.01   98.76
109  2019.02  99.261
110  2019.03  99.062
111  2019.04   99.44
112  2019.05  99.487
113  2019.06  99.355
114  2019.07   99.11
115  2019.08  99.393
116  2019.09  99.733
117  2019.10   99.95
118  2019.11  99.421
119  2019.12   99.61
120  2020.01    99.8
121  2020.02   99.84
122  2020.03   99.83
123  2020.04   99.61
124  2020.05   99.65
125  2020.06   99.91
126  2020.07   99.74
127  2020.08  100.27
128  2020.09   100.7
129  2020.10  100.23
130  2020.11  100.14
131  2020.12  100.27
132  2021.01  100.86
133  2021.02  101.33
134  2021.03  101.57
135  2021.04  101.68
136  2021.05  101.74
137  2021.06  101.68
138  2021.07  101.88
139  2021.08  102.33
140  2021.09  102.67
141  2021.10   102.9
142  2021.11   103.2
143  2021.12  103.32
144  2022.01  103.99
145  2022.02  104.64
146  2022.03  105.09
147  2022.04  105.74

# to_datetime

In [4]:
pd.to_datetime(cpi['date'])

0     2010-01-01
1     2010-02-01
2     2010-03-01
3     2010-04-01
4     2010-05-01
5     2010-06-01
6     2010-07-01
7     2010-08-01
8     2010-09-01
9     2010-10-01
10    2010-11-01
11    2010-12-01
12    2011-01-01
13    2011-02-01
14    2011-03-01
15    2011-04-01
16    2011-05-01
17    2011-06-01
18    2011-07-01
19    2011-08-01
20    2011-09-01
21    2011-10-01
22    2011-11-01
23    2011-12-01
24    2012-01-01
25    2012-02-01
26    2012-03-01
27    2012-04-01
28    2012-05-01
29    2012-06-01
30    2012-07-01
31    2012-08-01
32    2012-09-01
33    2012-10-01
34    2012-11-01
35    2012-12-01
36    2013-01-01
37    2013-02-01
38    2013-03-01
39    2013-04-01
40    2013-05-01
41    2013-06-01
42    2013-07-01
43    2013-08-01
44    2013-09-01
45    2013-10-01
46    2013-11-01
47    2013-12-01
48    2014-01-01
49    2014-02-01
50    2014-03-01
51    2014-04-01
52    2014-05-01
53    2014-06-01
54    2014-07-01
55    2014-08-01
56    2014-09-01
57    2014-10-01
58    2014-11-01
59    2014-12-01
60    2015-01-01
61    2015-02-01
62    2015-03-01
63    2015-04-01
64    2015-05-01
65    2015-06-01
66    2015-07-01
67    2015-08-01
68    2015-09-01
69    2015-10-01
70    2015-11-01
71    2015-12-01
72    2016-01-01
73    2016-02-01
74    2016-03-01
75    2016-04-01
76    2016-05-01
77    2016-06-01
78    2016-07-01
79    2016-08-01
80    2016-09-01
81    2016-10-01
82    2016-11-01
83    2016-12-01
84    2017-01-01
85    2017-02-01
86    2017-03-01
87    2017-04-01
88    2017-05-01
89    2017-06-01
90    2017-07-01
91    2017-08-01
92    2017-09-01
93    2017-10-01
94    2017-11-01
95    2017-12-01
96    2018-01-01
97    2018-02-01
98    2018-03-01
99    2018-04-01
100   2018-05-01
101   2018-06-01
102   2018-07-01
103   2018-08-01
104   2018-09-01
105   2018-10-01
106   2018-11-01
107   2018-12-01
108   2019-01-01
109   2019-02-01
110   2019-03-01
111   2019-04-01
112   2019-05-01
113   2019-06-01
114   2019-07-01
115   2019-08-01
116   2019-09-01
117   2019-10-01
118   2019-11-01
119   2019-12-01
120   2020-01-01
121   2020-02-01
122   2020-03-01
123   2020-04-01
124   2020-05-01
125   2020-06-01
126   2020-07-01
127   2020-08-01
128   2020-09-01
129   2020-10-01
130   2020-11-01
131   2020-12-01
132   2021-01-01
133   2021-02-01
134   2021-03-01
135   2021-04-01
136   2021-05-01
137   2021-06-01
138   2021-07-01
139   2021-08-01
140   2021-09-01
141   2021-10-01
142   2021-11-01
143   2021-12-01
144   2022-01-01
145   2022-02-01
146   2022-03-01
147   2022-04-01
Name: date, dtype: datetime64[ns]

In [5]:
print(cpi['date'].dtype)
print(pd.to_datetime(cpi['date']).dtype)

object
datetime64[ns]

In [6]:
cpi['date'] = pd.to_datetime(cpi['date'])

# strptime, strftime

In [7]:
import datetime as dt

dt.datetime.strptime('2022-06-25', '%Y-%m-%d')

datetime.datetime(2022, 6, 25, 0, 0)

In [8]:
today = dt.datetime.today()

dt.datetime.strftime(today, '%Y.%m.%d')

'2022.06.26'

In [9]:
today.strftime('%Y/%m/%d')

'2022/06/26'

In [10]:
cpi['date'] = cpi['date'].dt.strftime('%Y.%m')
cpi['date']

0      2010.01
1      2010.02
2      2010.03
3      2010.04
4      2010.05
5      2010.06
6      2010.07
7      2010.08
8      2010.09
9      2010.10
10     2010.11
11     2010.12
12     2011.01
13     2011.02
14     2011.03
15     2011.04
16     2011.05
17     2011.06
18     2011.07
19     2011.08
20     2011.09
21     2011.10
22     2011.11
23     2011.12
24     2012.01
25     2012.02
26     2012.03
27     2012.04
28     2012.05
29     2012.06
30     2012.07
31     2012.08
32     2012.09
33     2012.10
34     2012.11
35     2012.12
36     2013.01
37     2013.02
38     2013.03
39     2013.04
40     2013.05
41     2013.06
42     2013.07
43     2013.08
44     2013.09
45     2013.10
46     2013.11
47     2013.12
48     2014.01
49     2014.02
50     2014.03
51     2014.04
52     2014.05
53     2014.06
54     2014.07
55     2014.08
56     2014.09
57     2014.10
58     2014.11
59     2014.12
60     2015.01
61     2015.02
62     2015.03
63     2015.04
64     2015.05
65     2015.06
66     2015.07
67     2015.08
68     2015.09
69     2015.10
70     2015.11
71     2015.12
72     2016.01
73     2016.02
74     2016.03
75     2016.04
76     2016.05
77     2016.06
78     2016.07
79     2016.08
80     2016.09
81     2016.10
82     2016.11
83     2016.12
84     2017.01
85     2017.02
86     2017.03
87     2017.04
88     2017.05
89     2017.06
90     2017.07
91     2017.08
92     2017.09
93     2017.10
94     2017.11
95     2017.12
96     2018.01
97     2018.02
98     2018.03
99     2018.04
100    2018.05
101    2018.06
102    2018.07
103    2018.08
104    2018.09
105    2018.10
106    2018.11
107    2018.12
108    2019.01
109    2019.02
110    2019.03
111    2019.04
112    2019.05
113    2019.06
114    2019.07
115    2019.08
116    2019.09
117    2019.10
118    2019.11
119    2019.12
120    2020.01
121    2020.02
122    2020.03
123    2020.04
124    2020.05
125    2020.06
126    2020.07
127    2020.08
128    2020.09
129    2020.10
130    2020.11
131    2020.12
132    2021.01
133    2021.02
134    2021.03
135    2021.04
136    2021.05
137    2021.06
138    2021.07
139    2021.08
140    2021.09
141    2021.10
142    2021.11
143    2021.12
144    2022.01
145    2022.02
146    2022.03
147    2022.04
Name: date, dtype: object

In [11]:
cpi['date'] = cpi['date'].map(lambda x: dt.datetime.strptime(x, '%Y.%m'))
cpi['date']

0     2010-01-01
1     2010-02-01
2     2010-03-01
3     2010-04-01
4     2010-05-01
5     2010-06-01
6     2010-07-01
7     2010-08-01
8     2010-09-01
9     2010-10-01
10    2010-11-01
11    2010-12-01
12    2011-01-01
13    2011-02-01
14    2011-03-01
15    2011-04-01
16    2011-05-01
17    2011-06-01
18    2011-07-01
19    2011-08-01
20    2011-09-01
21    2011-10-01
22    2011-11-01
23    2011-12-01
24    2012-01-01
25    2012-02-01
26    2012-03-01
27    2012-04-01
28    2012-05-01
29    2012-06-01
30    2012-07-01
31    2012-08-01
32    2012-09-01
33    2012-10-01
34    2012-11-01
35    2012-12-01
36    2013-01-01
37    2013-02-01
38    2013-03-01
39    2013-04-01
40    2013-05-01
41    2013-06-01
42    2013-07-01
43    2013-08-01
44    2013-09-01
45    2013-10-01
46    2013-11-01
47    2013-12-01
48    2014-01-01
49    2014-02-01
50    2014-03-01
51    2014-04-01
52    2014-05-01
53    2014-06-01
54    2014-07-01
55    2014-08-01
56    2014-09-01
57    2014-10-01
58    2014-11-01
59    2014-12-01
60    2015-01-01
61    2015-02-01
62    2015-03-01
63    2015-04-01
64    2015-05-01
65    2015-06-01
66    2015-07-01
67    2015-08-01
68    2015-09-01
69    2015-10-01
70    2015-11-01
71    2015-12-01
72    2016-01-01
73    2016-02-01
74    2016-03-01
75    2016-04-01
76    2016-05-01
77    2016-06-01
78    2016-07-01
79    2016-08-01
80    2016-09-01
81    2016-10-01
82    2016-11-01
83    2016-12-01
84    2017-01-01
85    2017-02-01
86    2017-03-01
87    2017-04-01
88    2017-05-01
89    2017-06-01
90    2017-07-01
91    2017-08-01
92    2017-09-01
93    2017-10-01
94    2017-11-01
95    2017-12-01
96    2018-01-01
97    2018-02-01
98    2018-03-01
99    2018-04-01
100   2018-05-01
101   2018-06-01
102   2018-07-01
103   2018-08-01
104   2018-09-01
105   2018-10-01
106   2018-11-01
107   2018-12-01
108   2019-01-01
109   2019-02-01
110   2019-03-01
111   2019-04-01
112   2019-05-01
113   2019-06-01
114   2019-07-01
115   2019-08-01
116   2019-09-01
117   2019-10-01
118   2019-11-01
119   2019-12-01
120   2020-01-01
121   2020-02-01
122   2020-03-01
123   2020-04-01
124   2020-05-01
125   2020-06-01
126   2020-07-01
127   2020-08-01
128   2020-09-01
129   2020-10-01
130   2020-11-01
131   2020-12-01
132   2021-01-01
133   2021-02-01
134   2021-03-01
135   2021-04-01
136   2021-05-01
137   2021-06-01
138   2021-07-01
139   2021-08-01
140   2021-09-01
141   2021-10-01
142   2021-11-01
143   2021-12-01
144   2022-01-01
145   2022-02-01
146   2022-03-01
147   2022-04-01
Name: date, dtype: datetime64[ns]

# date_range

In [12]:
pd.date_range('2009-12', '2022-04', periods=None, freq='1M')

DatetimeIndex(['2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31',
               '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31',
               '2010-08-31', '2010-09-30',
               ...
               '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30',
               '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31'],
              dtype='datetime64[ns]', length=148, freq='M')

In [13]:
sr_dt_range = pd.date_range('2009-12', '2022-04', freq='1M')
sr_dt_range = sr_dt_range.to_series().reset_index(drop=True)
sr_dt_range =  sr_dt_range + dt.timedelta(days=1)

In [14]:
result = pd.concat([cpi['date'], sr_dt_range], axis=1)
result

          date          0
0   2010-01-01 2010-01-01
1   2010-02-01 2010-02-01
2   2010-03-01 2010-03-01
3   2010-04-01 2010-04-01
4   2010-05-01 2010-05-01
5   2010-06-01 2010-06-01
6   2010-07-01 2010-07-01
7   2010-08-01 2010-08-01
8   2010-09-01 2010-09-01
9   2010-10-01 2010-10-01
10  2010-11-01 2010-11-01
11  2010-12-01 2010-12-01
12  2011-01-01 2011-01-01
13  2011-02-01 2011-02-01
14  2011-03-01 2011-03-01
15  2011-04-01 2011-04-01
16  2011-05-01 2011-05-01
17  2011-06-01 2011-06-01
18  2011-07-01 2011-07-01
19  2011-08-01 2011-08-01
20  2011-09-01 2011-09-01
21  2011-10-01 2011-10-01
22  2011-11-01 2011-11-01
23  2011-12-01 2011-12-01
24  2012-01-01 2012-01-01
25  2012-02-01 2012-02-01
26  2012-03-01 2012-03-01
27  2012-04-01 2012-04-01
28  2012-05-01 2012-05-01
29  2012-06-01 2012-06-01
30  2012-07-01 2012-07-01
31  2012-08-01 2012-08-01
32  2012-09-01 2012-09-01
33  2012-10-01 2012-10-01
34  2012-11-01 2012-11-01
35  2012-12-01 2012-12-01
36  2013-01-01 2013-01-01
37  2013-02-01 2013-02-01
38  2013-03-01 2013-03-01
39  2013-04-01 2013-04-01
40  2013-05-01 2013-05-01
41  2013-06-01 2013-06-01
42  2013-07-01 2013-07-01
43  2013-08-01 2013-08-01
44  2013-09-01 2013-09-01
45  2013-10-01 2013-10-01
46  2013-11-01 2013-11-01
47  2013-12-01 2013-12-01
48  2014-01-01 2014-01-01
49  2014-02-01 2014-02-01
50  2014-03-01 2014-03-01
51  2014-04-01 2014-04-01
52  2014-05-01 2014-05-01
53  2014-06-01 2014-06-01
54  2014-07-01 2014-07-01
55  2014-08-01 2014-08-01
56  2014-09-01 2014-09-01
57  2014-10-01 2014-10-01
58  2014-11-01 2014-11-01
59  2014-12-01 2014-12-01
60  2015-01-01 2015-01-01
61  2015-02-01 2015-02-01
62  2015-03-01 2015-03-01
63  2015-04-01 2015-04-01
64  2015-05-01 2015-05-01
65  2015-06-01 2015-06-01
66  2015-07-01 2015-07-01
67  2015-08-01 2015-08-01
68  2015-09-01 2015-09-01
69  2015-10-01 2015-10-01
70  2015-11-01 2015-11-01
71  2015-12-01 2015-12-01
72  2016-01-01 2016-01-01
73  2016-02-01 2016-02-01
74  2016-03-01 2016-03-01
75  2016-04-01 2016-04-01
76  2016-05-01 2016-05-01
77  2016-06-01 2016-06-01
78  2016-07-01 2016-07-01
79  2016-08-01 2016-08-01
80  2016-09-01 2016-09-01
81  2016-10-01 2016-10-01
82  2016-11-01 2016-11-01
83  2016-12-01 2016-12-01
84  2017-01-01 2017-01-01
85  2017-02-01 2017-02-01
86  2017-03-01 2017-03-01
87  2017-04-01 2017-04-01
88  2017-05-01 2017-05-01
89  2017-06-01 2017-06-01
90  2017-07-01 2017-07-01
91  2017-08-01 2017-08-01
92  2017-09-01 2017-09-01
93  2017-10-01 2017-10-01
94  2017-11-01 2017-11-01
95  2017-12-01 2017-12-01
96  2018-01-01 2018-01-01
97  2018-02-01 2018-02-01
98  2018-03-01 2018-03-01
99  2018-04-01 2018-04-01
100 2018-05-01 2018-05-01
101 2018-06-01 2018-06-01
102 2018-07-01 2018-07-01
103 2018-08-01 2018-08-01
104 2018-09-01 2018-09-01
105 2018-10-01 2018-10-01
106 2018-11-01 2018-11-01
107 2018-12-01 2018-12-01
108 2019-01-01 2019-01-01
109 2019-02-01 2019-02-01
110 2019-03-01 2019-03-01
111 2019-04-01 2019-04-01
112 2019-05-01 2019-05-01
113 2019-06-01 2019-06-01
114 2019-07-01 2019-07-01
115 2019-08-01 2019-08-01
116 2019-09-01 2019-09-01
117 2019-10-01 2019-10-01
118 2019-11-01 2019-11-01
119 2019-12-01 2019-12-01
120 2020-01-01 2020-01-01
121 2020-02-01 2020-02-01
122 2020-03-01 2020-03-01
123 2020-04-01 2020-04-01
124 2020-05-01 2020-05-01
125 2020-06-01 2020-06-01
126 2020-07-01 2020-07-01
127 2020-08-01 2020-08-01
128 2020-09-01 2020-09-01
129 2020-10-01 2020-10-01
130 2020-11-01 2020-11-01
131 2020-12-01 2020-12-01
132 2021-01-01 2021-01-01
133 2021-02-01 2021-02-01
134 2021-03-01 2021-03-01
135 2021-04-01 2021-04-01
136 2021-05-01 2021-05-01
137 2021-06-01 2021-06-01
138 2021-07-01 2021-07-01
139 2021-08-01 2021-08-01
140 2021-09-01 2021-09-01
141 2021-10-01 2021-10-01
142 2021-11-01 2021-11-01
143 2021-12-01 2021-12-01
144 2022-01-01 2022-01-01
145 2022-02-01 2022-02-01
146 2022-03-01 2022-03-01
147 2022-04-01 2022-04-01

In [15]:
result.isnull().sum()

date    0
0       0
dtype: int64

# shift

In [16]:
cpi['value'] = cpi['value'].astype('float')

In [17]:
cpi['value_year_ago'] = cpi['value'].shift(12)
cpi

          date    value  value_year_ago
0   2010-01-01   84.055             NaN
1   2010-02-01   84.225             NaN
2   2010-03-01   84.566             NaN
3   2010-04-01   84.906             NaN
4   2010-05-01   84.906             NaN
5   2010-06-01   84.736             NaN
6   2010-07-01   84.991             NaN
7   2010-08-01   85.417             NaN
8   2010-09-01   86.183             NaN
9   2010-10-01   86.183             NaN
10  2010-11-01   85.758             NaN
11  2010-12-01   86.013             NaN
12  2011-01-01   86.950          84.055
13  2011-02-01   87.461          84.225
14  2011-03-01   87.801          84.566
15  2011-04-01   87.886          84.906
16  2011-05-01   88.057          84.906
17  2011-06-01   88.227          84.736
18  2011-07-01   88.654          84.991
19  2011-08-01   89.250          85.417
20  2011-09-01   89.164          86.183
21  2011-10-01   89.079          86.183
22  2011-11-01   89.079          85.758
23  2011-12-01   89.335          86.013
24  2012-01-01   89.829          86.950
25  2012-02-01   90.203          87.461
26  2012-03-01   90.322          87.801
27  2012-04-01   90.356          87.886
28  2012-05-01   90.450          88.057
29  2012-06-01   90.356          88.227
30  2012-07-01   90.305          88.654
31  2012-08-01   90.842          89.250
32  2012-09-01   91.455          89.164
33  2012-10-01   91.225          89.079
34  2012-11-01   90.867          89.079
35  2012-12-01   91.055          89.335
36  2013-01-01   91.549          89.829
37  2013-02-01   91.804          90.203
38  2013-03-01   91.719          90.322
39  2013-04-01   91.702          90.356
40  2013-05-01   91.702          90.450
41  2013-06-01   91.566          90.356
42  2013-07-01   91.745          90.305
43  2013-08-01   92.076          90.842
44  2013-09-01   92.290          91.455
45  2013-10-01   92.051          91.225
46  2013-11-01   92.042          90.867
47  2013-12-01   92.179          91.055
48  2014-01-01   92.689          91.549
49  2014-02-01   92.877          91.804
50  2014-03-01   93.090          91.719
51  2014-04-01   93.268          91.702
52  2014-05-01   93.414          91.702
53  2014-06-01   93.320          91.566
54  2014-07-01   93.516          91.745
55  2014-08-01   93.746          92.076
56  2014-09-01   93.652          92.290
57  2014-10-01   93.380          92.051
58  2014-11-01   93.268          92.042
59  2014-12-01   93.380          92.179
60  2015-01-01   93.989          92.689
61  2015-02-01   94.055          92.877
62  2015-03-01   93.970          93.090
63  2015-04-01   94.122          93.268
64  2015-05-01   94.301          93.414
65  2015-06-01   94.310          93.320
66  2015-07-01   94.717          93.516
67  2015-08-01   94.953          93.746
68  2015-09-01   94.811          93.652
69  2015-10-01   94.783          93.380
70  2015-11-01   94.641          93.268
71  2015-12-01   94.991          93.380
72  2016-01-01   95.066          93.989
73  2016-02-01   95.444          94.055
74  2016-03-01   95.142          93.970
75  2016-04-01   95.302          94.122
76  2016-05-01   95.340          94.301
77  2016-06-01   95.293          94.310
78  2016-07-01   95.189          94.717
79  2016-08-01   95.557          94.953
80  2016-09-01   96.096          94.811
81  2016-10-01   96.228          94.783
82  2016-11-01   96.105          94.641
83  2016-12-01   96.257          94.991
84  2017-01-01   97.088          95.066
85  2017-02-01   97.305          95.444
86  2017-03-01   97.371          95.142
87  2017-04-01   97.286          95.302
88  2017-05-01   97.419          95.340
89  2017-06-01   97.277          95.293
90  2017-07-01   97.570          95.189
91  2017-08-01   98.146          95.557
92  2017-09-01   98.042          96.096
93  2017-10-01   97.796          96.228
94  2017-11-01   97.173          96.105
95  2017-12-01   97.456          96.257
96  2018-01-01   97.844          97.088
97  2018-02-01   98.552          97.305
98  2018-03-01   98.543          97.371
99  2018-04-01   98.770          97.286
100 2018-05-01   98.779          97.419
101 2018-06-01   98.429          97.277
102 2018-07-01   98.392          97.570
103 2018-08-01   99.232          98.146
104 2018-09-01   99.856          98.042
105 2018-10-01   99.506          97.796
106 2018-11-01   98.977          97.173
107 2018-12-01   98.713          97.456
108 2019-01-01   98.760          97.844
109 2019-02-01   99.261          98.552
110 2019-03-01   99.062          98.543
111 2019-04-01   99.440          98.770
112 2019-05-01   99.487          98.779
113 2019-06-01   99.355          98.429
114 2019-07-01   99.110          98.392
115 2019-08-01   99.393          99.232
116 2019-09-01   99.733          99.856
117 2019-10-01   99.950          99.506
118 2019-11-01   99.421          98.977
119 2019-12-01   99.610          98.713
120 2020-01-01   99.800          98.760
121 2020-02-01   99.840          99.261
122 2020-03-01   99.830          99.062
123 2020-04-01   99.610          99.440
124 2020-05-01   99.650          99.487
125 2020-06-01   99.910          99.355
126 2020-07-01   99.740          99.110
127 2020-08-01  100.270          99.393
128 2020-09-01  100.700          99.733
129 2020-10-01  100.230          99.950
130 2020-11-01  100.140          99.421
131 2020-12-01  100.270          99.610
132 2021-01-01  100.860          99.800
133 2021-02-01  101.330          99.840
134 2021-03-01  101.570          99.830
135 2021-04-01  101.680          99.610
136 2021-05-01  101.740          99.650
137 2021-06-01  101.680          99.910
138 2021-07-01  101.880          99.740
139 2021-08-01  102.330         100.270
140 2021-09-01  102.670         100.700
141 2021-10-01  102.900         100.230
142 2021-11-01  103.200         100.140
143 2021-12-01  103.320         100.270
144 2022-01-01  103.990         100.860
145 2022-02-01  104.640         101.330
146 2022-03-01  105.090         101.570
147 2022-04-01  105.740         101.680

In [18]:
cpi['YoY'] = (cpi['value'] - cpi['value_year_ago']) / cpi['value_year_ago'] * 100
cpi.dropna().tail()

          date   value  value_year_ago       YoY
143 2021-12-01  103.32          100.27  3.041787
144 2022-01-01  103.99          100.86  3.103312
145 2022-02-01  104.64          101.33  3.266555
146 2022-03-01  105.09          101.57  3.465590
147 2022-04-01  105.74          101.68  3.992919

# rolling

In [19]:
cpi['moving_average_3'] = cpi['value'].rolling(3).mean()
cpi.tail()

          date   value  value_year_ago       YoY  moving_average_3
143 2021-12-01  103.32          100.27  3.041787        103.140000
144 2022-01-01  103.99          100.86  3.103312        103.503333
145 2022-02-01  104.64          101.33  3.266555        103.983333
146 2022-03-01  105.09          101.57  3.465590        104.573333
147 2022-04-01  105.74          101.68  3.992919        105.156667

In [20]:
cpi['value'].rolling(3).apply(lambda x: (x.iloc[0]*0.2 + x.iloc[1]*0.3 + x.iloc[2]*0.5))

0           NaN
1           NaN
2       84.3615
3       84.6678
4       84.8380
5       84.8210
6       84.8975
7       85.1530
8       85.7148
9       86.0298
10      85.9705
11      85.9705
12      86.4305
13      87.0181
14      87.5288
15      87.7755
16      87.9545
17      88.1078
18      88.4065
19      88.8666
20      89.0878
21      89.1387
22      89.0960
23      89.2070
24      89.5308
25      89.9172
26      90.1877
27      90.3152
28      90.3962
29      90.3842
30      90.3493
31      90.5837
32      91.0411
33      91.2174
34      91.0920
35      91.0326
36      91.2644
37      91.5777
38      91.7105
39      91.7275
40      91.7054
41      91.6340
42      91.6827
43      91.8747
44      92.1168
45      92.1277
46      92.0943
47      92.1123
48      92.4066
49      92.6810
50      92.9459
51      93.1364
52      93.3054
53      93.3378
54      93.4368
55      93.5918
56      93.6530
57      93.5348
58      93.3784
59      93.3464
60      93.6621
61      93.9002
62      93.9993
63      94.0630
64      94.1811
65      94.2697
66      94.5117
67      94.7536
68      94.8348
69      94.8254
70      94.7176
71      94.8444
72      94.9585
73      95.2400
74      95.2174
75      95.2824
76      95.2890
77      95.3089
78      95.2504
79      95.3938
80      95.7529
81      96.0542
82      96.1401
83      96.2056
84      96.6421
85      97.0303
86      97.2946
87      97.3153
88      97.3695
89      97.3214
90      97.4519
91      97.7994
92      97.9788
93      97.9398
94      97.5337
95      97.4391
96      97.5934
97      98.1204
98      98.4059
99      98.6583
100     98.7291
101     98.6022
102     98.4805
103     98.8194
104     99.3760
105     99.5562
106     99.3115
107     98.9508
108     98.7893
109     99.0011
110     99.0613
111     99.2908
112     99.3879
113     99.4116
114     99.2589
115     99.3005
116     99.5064
117     99.7735
118     99.6421
119     99.6213
120     99.6672
121     99.7820
122     99.8270
123     99.7220
124     99.6740
125     99.7720
126     99.7730
127    100.0390
128    100.3790
129    100.3790
130    100.2790
131    100.2230
132    100.5390
133    100.9770
134    101.3560
135    101.5770
136    101.6880
137    101.6980
138    101.7920
139    102.0650
140    102.4100
141    102.7170
142    103.0040
143    103.2000
144    103.6310
145    104.1810
146    104.7350
147    105.3250
Name: value, dtype: float64

In [21]:
weight = np.array([0.2, 0.3, 0.5])

cpi['weight_moving_average_3'] = cpi['value'].rolling(3).apply(lambda x: weight.dot(x))
cpi.tail()

,date,value,value_year_ago,YoY,moving_average_3,weight_moving_average_3
143,2021-12-01,103.32,100.27,3.041787,103.140000,103.200
144,2022-01-01,103.99,100.86,3.103312,103.503333,103.631
145,2022-02-01,104.64,101.33,3.266555,103.983333,104.181
146,2022-03-01,105.09,101.57,3.465590,104.573333,104.735
147,2022-04-01,105.74,101.68,3.992919,105.156667,105.325